body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-josefin-sans: "Josefin Sans";

  /* font sizes */
  --font-size-17xl: 36px;
  --font-size-77xl: 96px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro-100: #d9d9d9;
  --color-brown-100: #9d0026;

  /* Border radiuses */
  --br-13xl: 32px;
}
