.msl-340368-simple-crostini-her-icon {
  position: absolute;
  top: -5px;
  left: 0;
  width: 1440px;
  height: 1123px;
  object-fit: cover;
}
.contact,
.policy-action {
  position: absolute;
  top: 42px;
  display: inline-block;
}
.contact {
  left: 1005px;
  color: var(--color-brown-100);
  white-space: pre-wrap;
  width: 195px;
  height: 19px;
}
.policy-action {
  left: 682px;
  color: #9d0025;
  width: 309px;
  height: 29px;
}
.span {
  color: var(--color-white);
  white-space: pre-wrap;
}
.about,
.memership {
  position: absolute;
  top: 42px;
  left: 522px;
  display: inline-block;
  width: 118px;
  height: 30px;
  color: var(--color-brown-100);
}
.memership {
  left: 1214px;
  width: 223px;
  height: 31px;
}
.some-recipes {
  position: absolute;
  top: 2054px;
  left: 206px;
  font-size: var(--font-size-77xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1054px;
  height: 123px;
}
.desktop-3-child {
  position: absolute;
  top: 2218px;
  left: 90px;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 332px;
  height: 415px;
}
.desktop-3-child1,
.desktop-3-inner,
.desktop-3-item,
.rectangle-icon {
  position: absolute;
  top: 2740px;
  left: 115px;
  border-radius: var(--br-13xl);
  width: 332px;
  height: 415px;
  object-fit: cover;
}
.desktop-3-child1,
.desktop-3-inner,
.rectangle-icon {
  left: 544px;
}
.desktop-3-child1,
.rectangle-icon {
  top: 1519px;
  left: 179px;
  width: 166px;
  height: 166px;
}
.desktop-3-child1 {
  left: 582px;
}
.plain-barcode-labels-1 {
  position: absolute;
  top: 1545px;
  left: 804px;
  width: 98px;
  height: 98px;
}
.desktop-3-child2 {
  top: 1746px;
  left: 179px;
  width: 166px;
  object-fit: cover;
}
.desktop-3-child2,
.desktop-3-child3,
.desktop-3-child4,
.rectangle-div {
  position: absolute;
  border-radius: var(--br-13xl);
  height: 166px;
}
.desktop-3-child3 {
  top: 1746px;
  left: 582px;
  width: 166px;
  object-fit: cover;
}
.desktop-3-child4,
.rectangle-div {
  left: 985px;
}
.desktop-3-child4 {
  top: 1746px;
  width: 166px;
  object-fit: cover;
}
.rectangle-div {
  top: 1519px;
  background: linear-gradient(0deg, #ff0f0f, #fff);
  border: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 157px;
}
.desktop-3-child5,
.desktop-3-child6 {
  position: absolute;
  top: 2218px;
  left: 555px;
  border-radius: var(--br-13xl);
  width: 321px;
  height: 419px;
  object-fit: cover;
}
.desktop-3-child6 {
  left: 1018px;
  width: 332px;
  height: 415px;
}
.idli {
  position: absolute;
  top: 2511px;
  left: 130px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 266px;
  height: 101px;
}
.desktop-3-child7 {
  position: absolute;
  top: 2743px;
  left: 1010px;
  border-radius: var(--br-13xl);
  width: 332px;
  height: 415px;
  object-fit: cover;
}
.desktop-3-child8 {
  position: absolute;
  top: 321px;
  left: 138px;
  border-radius: 40px;
  background-color: #e1e1e1;
  width: 1213px;
  height: 671px;
  mix-blend-mode: hard-light;
}
.about-us {
  position: absolute;
  top: 345px;
  left: 193px;
  font-size: var(--font-size-77xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 458px;
  height: 117px;
}
.at-flavorfusion-cooking {
  margin: 0;
}
.at-flavorfusion-cooking-container1 {
  width: 100%;
}
.at-flavorfusion-cooking-container {
  position: absolute;
  top: 650px;
  left: 161px;
  font-size: 48px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 1196px;
  height: 150px;
}
.categories {
  position: absolute;
  top: 1427px;
  left: 115px;
  display: inline-block;
  width: 312px;
  height: 36px;
}
.desktop-3-child9 {
  position: absolute;
  top: 1048px;
  left: 1130px;
  border-radius: 54px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 20px 20px 4px rgba(0, 0, 0, 0.25);
  width: 130px;
  height: 121px;
}
.image-1-icon,
.image-2-icon {
  position: absolute;
  top: 1525px;
  left: 994px;
  width: 139px;
  height: 146px;
  object-fit: cover;
}
.image-2-icon {
  top: 2299px;
  left: 154px;
  width: 204px;
  height: 192px;
}
.desktop-3-child10,
.flavor-fusion {
  position: absolute;
  top: 100px;
  height: 192px;
}
.desktop-3-child10 {
  left: 30px;
  border-radius: 59px;
  background: linear-gradient(90deg, #d25050, #fff);
  width: 933px;
  mix-blend-mode: multiply;
}
.flavor-fusion {
  left: 44px;
  font-size: 128px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 906px;
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3234px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-josefin-sans);
}
