.msl-340368-simple-crostini-her-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1000px;
  object-fit: cover;
}
.contact,
.policy-action {
  position: absolute;
  top: 42px;
  font-size: var(--font-size-17xl);
  display: inline-block;
}
.contact {
  left: 1005px;
  color: var(--color-brown-100);
  white-space: pre-wrap;
  width: 195px;
  height: 19px;
}
.policy-action {
  left: 682px;
  color: #9d0025;
  width: 309px;
  height: 29px;
}
.span {
  color: var(--color-white);
  white-space: pre-wrap;
}
.about,
.memership {
  position: absolute;
  top: 42px;
  left: 522px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 118px;
  height: 30px;
  color: var(--color-brown-100);
}
.memership {
  left: 1214px;
  width: 223px;
  height: 31px;
}
.recipes-for-breakfast {
  position: absolute;
  top: 1663px;
  left: 206px;
  font-size: var(--font-size-77xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1054px;
  height: 123px;
}
.desktop-3-child,
.desktop-3-item {
  border: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.desktop-3-child {
  position: absolute;
  top: 1827px;
  left: 90px;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  width: 332px;
  height: 415px;
}
.desktop-3-item {
  top: 1128px;
  left: 179px;
  background: linear-gradient(180deg, #fff, #635d5d);
  width: 166px;
  height: 166px;
}
.desktop-3-inner,
.desktop-3-item,
.rectangle-div {
  position: absolute;
  border-radius: var(--br-13xl);
}
.desktop-3-inner {
  top: 1128px;
  left: 582px;
  width: 166px;
  height: 166px;
}
.rectangle-div {
  left: 179px;
  background: linear-gradient(180deg, #fff, #81694e);
  border: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.desktop-3-child1,
.rectangle-div,
.rectangle-icon {
  top: 1355px;
  width: 166px;
  height: 166px;
}
.rectangle-icon {
  position: absolute;
  left: 582px;
  border-radius: var(--br-13xl);
}
.desktop-3-child1 {
  left: 985px;
  background: linear-gradient(180deg, #fff, #142271);
}
.desktop-3-child1,
.desktop-3-child2,
.desktop-3-child3,
.desktop-3-child4,
.desktop-3-child5,
.desktop-3-child6 {
  position: absolute;
  border-radius: var(--br-13xl);
  border: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.desktop-3-child2 {
  top: 1128px;
  left: 985px;
  background: linear-gradient(0deg, #ff0f0f, #fff);
  width: 166px;
  height: 166px;
}
.desktop-3-child3,
.desktop-3-child4,
.desktop-3-child5,
.desktop-3-child6 {
  top: 2352px;
  left: 554px;
  background-color: var(--color-white);
  width: 332px;
  height: 415px;
}
.desktop-3-child4,
.desktop-3-child5,
.desktop-3-child6 {
  left: 90px;
}
.desktop-3-child5,
.desktop-3-child6 {
  top: 1827px;
  left: 555px;
  width: 321px;
  height: 419px;
}
.desktop-3-child6 {
  top: 1824px;
  left: 1015px;
  width: 338px;
  height: 421px;
}
.burger,
.idli,
.parathe,
.pizza,
.tomato-soup {
  position: absolute;
  top: 2120px;
  left: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 266px;
  height: 101px;
}
.burger,
.parathe,
.pizza,
.tomato-soup {
  top: 2129px;
  left: 603px;
  width: 214px;
  height: 68px;
}
.parathe,
.pizza,
.tomato-soup {
  left: 1077px;
}
.parathe,
.pizza {
  top: 2650px;
  left: 158px;
}
.pizza {
  top: 2658px;
  left: 609px;
}
.desktop-3-child7 {
  position: absolute;
  top: 2352px;
  left: 1010px;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 332px;
  height: 415px;
}
.french-fries,
.veg-recipes {
  position: absolute;
  top: 2650px;
  left: 1078px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 214px;
  height: 68px;
}
.veg-recipes {
  top: 2990px;
  left: 189px;
  font-size: var(--font-size-77xl);
  width: 1054px;
  height: 123px;
}
.desktop-3-child10,
.desktop-3-child11,
.desktop-3-child12,
.desktop-3-child8,
.desktop-3-child9 {
  position: absolute;
  top: 3158px;
  left: 90px;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 332px;
  height: 415px;
}
.desktop-3-child10,
.desktop-3-child11,
.desktop-3-child12,
.desktop-3-child9 {
  top: 3683px;
  left: 554px;
}
.desktop-3-child10,
.desktop-3-child11,
.desktop-3-child12 {
  left: 90px;
}
.desktop-3-child11,
.desktop-3-child12 {
  top: 3158px;
  left: 555px;
  width: 321px;
  height: 419px;
}
.desktop-3-child12 {
  top: 3155px;
  left: 1015px;
  width: 338px;
  height: 421px;
}
.abcd,
.dal-makhni,
.mushroom,
.palak-paneer,
.rice {
  position: absolute;
  top: 3451px;
  left: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 266px;
  height: 101px;
}
.abcd,
.dal-makhni,
.mushroom,
.rice {
  top: 3460px;
  left: 603px;
  width: 214px;
  height: 68px;
}
.abcd,
.dal-makhni,
.rice {
  left: 1077px;
}
.abcd,
.rice {
  top: 3981px;
  left: 158px;
}
.rice {
  top: 3989px;
  left: 609px;
}
.desktop-3-child13 {
  position: absolute;
  top: 3683px;
  left: 1010px;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 332px;
  height: 415px;
}
.dal-fry {
  position: absolute;
  top: 3981px;
  left: 1078px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 214px;
  height: 68px;
}
.desktop-3-child14 {
  position: absolute;
  top: 192px;
  left: 113px;
  border-radius: 40px;
  background-color: #e1e1e1;
  width: 1213px;
  height: 671px;
  mix-blend-mode: hard-light;
}
.about-us {
  position: absolute;
  top: 228px;
  left: 178px;
  font-size: var(--font-size-77xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 458px;
  height: 117px;
}
.we-are-great {
  margin: 0;
}
.we-are-great-container1 {
  width: 100%;
}
.we-are-great-container {
  position: absolute;
  top: 399px;
  left: 175px;
  font-size: 48px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 864px;
  height: 150px;
}
.categories {
  position: absolute;
  top: 1036px;
  left: 115px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 312px;
  height: 36px;
}
.breakfast,
.dessert,
.dinner,
.lunch,
.non-veg,
.veg {
  position: absolute;
  top: 1255px;
  left: 192px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 39px;
}
.dessert,
.dinner,
.lunch,
.non-veg,
.veg {
  top: 1482px;
  left: 188px;
}
.dinner,
.lunch,
.non-veg,
.veg {
  left: 597px;
}
.dinner,
.non-veg,
.veg {
  left: 1006px;
}
.non-veg,
.veg {
  top: 1250px;
  left: 597px;
}
.non-veg {
  left: 1000px;
}
.desktop-3-child15,
.desktop-3-child16,
.desktop-3-child17,
.desktop-3-child18,
.desktop-3-child19,
.desktop-3-child20 {
  position: absolute;
  top: 1134px;
  left: 192px;
  border-radius: var(--br-35xl);
  width: 130px;
  height: 121px;
  object-fit: cover;
}
.desktop-3-child16,
.desktop-3-child17,
.desktop-3-child18,
.desktop-3-child19,
.desktop-3-child20 {
  left: 590px;
}
.desktop-3-child17,
.desktop-3-child18,
.desktop-3-child19,
.desktop-3-child20 {
  left: 1003px;
}
.desktop-3-child18,
.desktop-3-child19,
.desktop-3-child20 {
  top: 1361px;
}
.desktop-3-child19,
.desktop-3-child20 {
  left: 590px;
}
.desktop-3-child20 {
  left: 191px;
}
.desktop-3-child21,
.desktop-3-child22,
.desktop-3-child23,
.desktop-3-child24,
.desktop-3-child25,
.desktop-3-child26 {
  position: absolute;
  top: 1888px;
  left: 580px;
  border-radius: var(--br-35xl);
  width: 259px;
  height: 241px;
  object-fit: cover;
}
.desktop-3-child22,
.desktop-3-child23,
.desktop-3-child24,
.desktop-3-child25,
.desktop-3-child26 {
  left: 133px;
}
.desktop-3-child23,
.desktop-3-child24,
.desktop-3-child25,
.desktop-3-child26 {
  left: 1046px;
}
.desktop-3-child24,
.desktop-3-child25,
.desktop-3-child26 {
  top: 2389px;
  left: 126px;
}
.desktop-3-child25,
.desktop-3-child26 {
  top: 2409px;
  left: 580px;
}
.desktop-3-child26 {
  left: 1046px;
}
.desktop-3-child27,
.desktop-3-child28,
.desktop-3-child29,
.desktop-3-child30,
.desktop-3-child31,
.desktop-3-child32 {
  position: absolute;
  top: 3210px;
  left: 126px;
  border-radius: var(--br-35xl);
  width: 259px;
  height: 241px;
  object-fit: cover;
}
.desktop-3-child28,
.desktop-3-child29,
.desktop-3-child30,
.desktop-3-child31,
.desktop-3-child32 {
  top: 3724px;
}
.desktop-3-child29,
.desktop-3-child30,
.desktop-3-child31,
.desktop-3-child32 {
  top: 3740px;
  left: 590px;
}
.desktop-3-child30,
.desktop-3-child31,
.desktop-3-child32 {
  left: 1046px;
}
.desktop-3-child31,
.desktop-3-child32 {
  top: 3210px;
  left: 580px;
}
.desktop-3-child32 {
  left: 1046px;
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 4401px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-josefin-sans);
}
